/*.coverage

.vscode/settings.json

#binary
/couper
/.macos/couper.dmg
/.macos/couper.zip
/.macos/Couper.app/**
!/.macos/Couper.app/**/Info.plist
!/.macos/Couper.app/**/Resources/icon.icns

#go-fuzz
/fuzz/**/corpus
/fuzz/**/crashers
/fuzz/**/suppressions
/**/*-fuzz.zip

.npm/node_modules
