/*.out

.vscode/settings.json

#binary
/couper
/.macos/couper.dmg
/.macos/couper.zip
/.macos/Couper.app/**
!/.macos/Couper.app/**/Info.plist
!/.macos/Couper.app/**/Resources/icon.icns

#go-fuzz
/fuzz/**/corpus
/fuzz/**/crashers
/fuzz/**/suppressions
/**/*-fuzz.zip

.npm/node_modules

# docs
/docs/website/node_modules
/docs/website/.vscode/settings.json
docs/website/.vite

# tls
/*.crt
/*.key
