name: 'go test-coverage report'
on:
  push:
    branches:
      - master
    tags:
      - '!*' # Do not execute on tags
  pull_request:
    paths:
      - '!*.MD'
      - '!docs/**'
jobs:
  coverage:
    name: coverage
    runs-on: ubuntu-latest
    steps:
      - name: Set up Go 1.x
        uses: actions/setup-go@v5.0.0
        with:
          go-version: '1.25'
      - uses: actions/checkout@v4
      - name: Dependencies
        run: go mod download
      - name: 'test & report'
        run: |
          make test-coverage
      - uses: qltysh/qlty-action/coverage@v2
        with:
          add-prefix: "github.com/coupergateway/couper"
          token: {{secrets.QLTY_COVERAGE_TOKEN}}
          files: c.out
          verbose: 'true'
