name: 'go-test-build'

on:
  push:
    branches: [ main, release.* ]
    tags:
      - v1.*
    paths-ignore:
      - '**/README.md'
      - '.github/workflows/weekly-fuzz.yml'
      - 'docs/**'
  pull_request:
    paths-ignore:
      - '**/README.md'
      - '.github/workflows/weekly-fuzz.yml'
      - 'docs/**'

jobs:
  build:
    name: 'go test & build'
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:

    - name: Set up Go 1.x
      uses: actions/setup-go@v5.0.0
      with:
        go-version: '1.25'
      id: go
    - run: go version

    - name: Check out code into the Go module directory
      uses: actions/checkout@v4

    - name: Dependencies
      run: go mod download

    - name: Source-Code formatting
      run: test -z $(go fmt ./...)

    - name: Source-Code analysis
      run: go list ./... | grep -v 'fuzz\/.*' | xargs go vet

    - name: Test
      run: go test -v -timeout 300s -race ./...

    - name: Build binary
      run: |
        go build -v -o couper .
        ./couper version
