name: npm-publish

on:
  workflow_run:
    workflows: ["Release"]
    types: [completed]
  workflow_dispatch:
    inputs:
      package-version:
        description: Package version (e.g. v1.14.0)
        required: true
        type: string
jobs:
  npm:
    name: 'update npm package'
    runs-on: ubuntu-latest
    if: ${{ github.event_name == 'workflow_dispatch' || github.event.workflow_run.conclusion == 'success' }}
    env:
      PACKAGE_NAME: 'couper'
      PACKAGE_VERSION: ${{ github.event.inputs.package-version || github.event.workflow_run.head_branch || github.ref_name }}
      # https://github.com/JS-DevTools/npm-publish/issues/15
      INPUT_TOKEN: ''
    steps:
      - name: 'checkout'
        uses: actions/checkout@v4
      - name: 'prepare package'
        run: |
          cp LICENSE .npm
          curl -L https://github.com/malud/temgo/releases/download/0.2.1/tg -o tg
          chmod +x tg
          PACKAGE_VERSION=${PACKAGE_VERSION#v}
          ./tg -i .npm/package.json
          cat .npm/package.json
      - name: 'setup node'
        uses: actions/setup-node@v4
        with:
          node-version: 20
      - name: 'publish package'
        uses: JS-DevTools/npm-publish@v4
        with:
          package: ".npm/package.json"
          access: "public"
          token: ${{ secrets.NPM_TOKEN }}
      - name: 'test published package'
        run: |
          cd $(mktemp -d) && npm install ${PACKAGE_NAME}@${PACKAGE_VERSION#v} && npx couper version
