name: Release

on:
  push:
    tags:
      - 'v1.[0-9]+.[0-9]+'

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: 'wait for tests'
        uses: lewagon/wait-on-check-action@v1.3.4
        with:
          ref: ${{ github.ref }}
          check-name: 'go test & build'
          repo-token: ${{ secrets.GITHUB_TOKEN }}
          wait-interval: 10

  build-all:
    name: 'build all binaries'
    runs-on: ubuntu-latest
    needs:
      - test
    permissions:
      contents: write
      packages: write
    env:
      VERSION_PACKAGE: 'github.com/coupergateway/couper/utils'
    strategy:
      matrix:
        goos: [linux, windows]
        goarch: [amd64, arm64]
      fail-fast: false
    steps:
      - uses: actions/checkout@v4

      - name: Set outputs
        id: vars
        run: |
          echo "sha_short=$(git rev-parse --short HEAD)" >> $GITHUB_OUTPUT
          echo "build_date=$(date +'%F')" >> $GITHUB_OUTPUT

      - uses: wangyoucao577/go-release-action@v1.55
        id: build
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          goos: ${{ matrix.goos }}
          goarch: ${{ matrix.goarch }}
          goversion: '1.26'
          binary_name: 'couper'
          ldflags: '-X ${{ env.VERSION_PACKAGE }}.VersionName=${{ github.ref_name }} -X ${{ env.VERSION_PACKAGE }}.BuildName=${{ steps.vars.outputs.sha_short }} -X ${{ env.VERSION_PACKAGE }}.BuildDate=${{ steps.vars.outputs.build_date }}'
          sha256sum: true
          md5sum: false
          asset_name: 'couper-${{ github.ref_name }}-${{ matrix.goos }}-${{ matrix.goarch }}'
          release_name: ${{ github.ref_name }}
          overwrite: true

  brewlease:
    name: 'update homebrew formula'
    runs-on: ubuntu-latest
    needs:
      - build-all
    steps:
      - name: 'checkout'
        uses: actions/checkout@v4
      - name: 'compute source tarball checksum'
        run: |
          curl -fsSL "https://github.com/coupergateway/couper/archive/refs/tags/${{ github.ref_name }}.tar.gz" -o source.tar.gz
          echo "SOURCE_SHA256=$(sha256sum source.tar.gz | cut -d ' ' -f1)" >> $GITHUB_ENV
          echo "SHORT_SHA=$(git rev-parse --short HEAD)" >> $GITHUB_ENV
      - name: 'prepare template'
        run: |
          curl -L https://github.com/malud/temgo/releases/download/0.2.1/tg -o tg
          chmod +x tg
          ./tg -i ${GITHUB_WORKSPACE}/.github/workflows/couper.rb
      - name: 'publish formula'
        uses: dmnemec/copy_file_to_another_repo_action@v1.1.1
        env:
          API_TOKEN_GITHUB: ${{ secrets.GH_COUPER_API_TOKEN }}
        with:
          source_file: '${{ github.workspace }}/.github/workflows/couper.rb'
          destination_repo: 'coupergateway/homebrew-couper'
          destination_folder: './'
          destination_branch: 'main'
          destination_branch_create: 'release.${{ github.ref_name }}'
          user_email: 'couperbot@gmail.com'
          user_name: 'couper-bot'
          commit_message: 'Update formula to ${{ github.ref_name }} release'
